
:root{
    // Primary colors
    --primary-red: hsl(12, 88%, 59%);
    --primary-blue: hsl(228, 39%, 23%);
    // Secondary colors
    --dark-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --white: hsl(13, 100%, 96%);
    --gray: hsl(0, 0%, 98%);
}