@use '../util' as util;

.introduction{
    background-image: url('../images/bg-tablet-pattern.svg');
    // outline: 3px solid purple;
    background-size: 20rem 20rem;
    background-position: right -60px top -40px;
    background-repeat: no-repeat;

    @include util.breakpoint(large){
        background-size: 100% 100%;
        background-position: right -100px top -60px;
    }
}

// Utility Class for displaying icons
.header {
    // outline: 3px solid yellow;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include util.breakpoint(large){

    }
    

    &__logo{
        max-width: 40%;
        height: 30px;
        object-fit: contain;
        // outline: 3px solid pink;
        &--img{
            width: 100%;
        }
    }

    &__navbar{
        display:none;
    }

    &--hamburger{
        max-width: 100%;
        // outline: 3px dashed blue;
        &--img{
            width: 100%;
        }
    }

    &__button{
        display: none;
    }

    &--close{
        display: none;
    }
}

// Navbar tweaking
.navbar{
    display: block;
    position: absolute;
    margin-top: 20px; 
    top: 60px; 
    width: 335px; 
    height: 260px; 
    background-color: var(--gray);  
    width: 100%;
    box-shadow: 0 0 4px;
}

.header__navbar__item {
    padding-bottom: 20px;
    text-align: center;
}

.header__navbar__item:nth-child(1){
    padding-top: 40px;
    text-align: center;
}

.header__navbar__item > a{
    color: var(--primary-blue);
    font-weight: 700;
}

.main {
    display: flex;
    flex-direction: column;
    // outline: 3px solid palegreen;
    background-image: url('../images/bg-tablet-pattern.svg');
    background-size: 220px 220px;
    background-position: right -80px bottom 5px;
    background-repeat: no-repeat;

    @include util.breakpoint(large){
        flex-direction: row-reverse;
        width: 80%;
        margin: 50px auto;
        gap: 50px;
    }

    &__image{
        object-fit: contain;
        max-width: 100%;
        padding-bottom: 20px;
        // outline: 4px solid hotpink;
        &--img {
            width: 100%;
            // outline: 3px solid orange;
        }

        @include util.breakpoint(large){
            &--img {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__text{
        text-align: center;
        padding-bottom: 50px;

        @include util.breakpoint(large){
            text-align: left;
            width: 100%;
        }
        // outline: 3px dashed green;
        h1{
            font-size: 2rem; 
            padding-bottom: 10px;   
            color: var(--primary-blue);

            @include util.breakpoint(large){
                padding-block: 30px;
                font-size: 3.5rem;
            }
        }
        p{
            padding-bottom: 30px;
            @include util.breakpoint(large){
                width: 80%;
                font-size: 1.3rem;
            }
        }
    }
}

.secondary {
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    // outline: 3px solid blue;
    @include util.breakpoint(large){
        width: 80%;
        margin: 100px auto;
        flex-direction: row;
        // outline-offset: 10px;
        // border: 3px solid pink;
        gap: 100px;
    }

    &__header{
    //    outline: 3px solid brown;
        h1{
            font-size: 1.5rem;
            text-align: center;
            width: 75%;
            margin: 0 auto 20px auto;
            // outline: 3px dashed gold;
            color: var(--primary-blue);

            @include util.breakpoint(large){
               font-size: 2rem;
               text-align: left;
               margin: 40px 0;
               width: 100%;
            }
        }
        p{
            width: 100%;
            // outline: 3px solid red;
            line-height: 6vh;
            text-align: center;
            // outline: 3px solid yellow;
            @include util.breakpoint(large){
                width: 100%;
                font-size: 1.2rem;
                text-align: left;
            }
        }

        
    }
    &__text--list{
        display: flex;
        flex-direction: column;
        margin: 40px 0;
        // outline: 3px solid red;

        @include util.breakpoint(large){
            margin: 0;
            padding: 40px 0;
        }

        &--one, &--two{
            margin-bottom: 40px;
        }

        &--one, &--two, &--three {
            // outline: 3px solid navajowhite;
            &--head{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                color: var(--primary-blue);
                background: var(--white);
                border-top-left-radius: 1000px;
                border-bottom-left-radius: 1000px;
                width: 95%;
                margin: 0 0 0 auto;
                @include util.breakpoint(large){
                    text-align: left;
                    background: transparent;
                    width: 100%;
                    margin: 0;
                    gap: 30px;
                }

                h3{
                    font-size: 0.9rem;
                    // outline: 3px solid blueviolet;

                    @include util.breakpoint(large){
                        font-size: 1.1rem;
                    }
                }
            }
            p{
                margin-top: 20px;
                // outline: 3px solid salmon;
                @include util.breakpoint(large){
                    width: 100%;
                    padding: 0 0 0 80px;
                }
            }
        }
    }
}

.testimonials {
    // outline: 3px dashed gold;
    position: relative;
    h2{
        font-size: 1.5rem;
        text-align: center;
        color: var(--primary-blue);

        @include util.breakpoint(large){
            padding: 20px 0;
            font-size: 1.8rem;
            // margin-bottom: 200px;
        }
        // outline: 2px solid rebeccapurple;
    }
    &__list{
        // margin-bottom: 10px;
        width: 80%;
        margin: 0 auto 10px auto;

        @include util.breakpoint(large){
            padding: 0 20px 20px;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 40%;
            overflow-x: auto;
            overscroll-behavior-inline: contain;
            gap: 30px;
            width: 100%;
            @include util.scrollbar;
        }

        
            
            // Animation
            // animation: scroll ease forwards 10s infinite;

            // @keyframes scroll{
            //     0%{ 
            //         transform: translateX(120%);
            //     }
            //     // 25%{
            //     //     display: flex;
            //     //     transform: translateX(100%);
            //     // }
            //     100%{
            //         transform: translateX(-120%);
            //     }
            // }
        
        
        &__two, &__three, &__four{
            display: none;

            @include util.breakpoint(large){
                display: inline-block;
            }
        }
        

        &__one, &__two, &__three, &__four{
            margin-top: 50px;
            padding-top: 40px;
            min-height: 250px;
            background: var(--gray);
            position: relative;
            border-radius: 5px;


            @include util.breakpoint(large){
                box-shadow: 0 0 2px;
                padding-inline: 10px;
            }
    
            &--img{
                max-width: 100%;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                position: absolute;
                top: -25px;
                transform: translateX(46%);
                left: 38%;

                @include util.breakpoint(large){
                    left: 41%;
                }

                img{
                    width: 100%;   
                }
            }

            

            &--text{
                text-align: center;
                h3{
                    margin-bottom: 15px;
                    color: var(--primary-blue);
                }
            }
        }
    }

    
    &__circle{
        display: flex;
        margin-bottom: 40px;
        justify-content: center;
        gap: 3px;

        @include util.breakpoint(large){
            display: none;
        }

        &--one, &--two, &--three, &--four{
            border-radius: 50%;
            height: 5px;
            padding: 3px;
            width: 5px;
            border: 2px solid var(--primary-red);
            background-color: var(--gray);

            &:hover{
                background-color: var(--primary-red);
            }
        }

        
    }

    &--button{
        text-align: center;
        margin-bottom: 40px;

        @include util.breakpoint(large){
            margin-top: 30px;
        }
    }

    
}

// Fill 
.fill{
    background-color: var(--primary-red);
}

.cta {
    min-height: 150px;
    background-color: var(--primary-red);
    padding-block: 50px;
    padding-inline: 20px;

    h1{
        color: var(--white);
        font-size: 2.2rem;
        text-align: center;
    }

    &__button{
            margin-top: 30px;
            text-align: center;
        
        &--btn{
            background: white;
            border: 2px solid white;

            a{
                color: #f25f3a;
            }
        }
    }
}

.footer {
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    color: var(--gray);
    min-height: 400px;
    padding: 40px 20px 20px 20px;

    input {
        padding: 10px 30px;
        border-radius: 1000px;
        width: 75%;
        border: 3px solid white;
    }

    ::placeholder{
        font-size: 0.9rem;
    }

    a{
        color: var(--gray);
    }

    &__list {
        margin-block: 20px;
        display: flex;
        gap: 40px;
        justify-content: space-around;

        &--primary li, &--secondary li{
            padding-block: 10px;
        }
    }

    &__socials {
        margin: 0 auto 10px;
        img{
            padding-inline: 10px;
            margin: auto; 
        }
    } 

    &__logo{
        margin: 20px auto;
        max-width: 75%;
        filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(224%) hue-rotate(152deg) brightness(114%) contrast(96%);
        img{
            width: 100%;
        }
    }

    p{
        width: 100%;
        text-align: center;
        
    }

    p:first-of-type{
        margin-bottom: 20px;
    }
}